<div class="row">
    <div layout="row">

                <md-button flex="50" class="md-raised" aria-label="Vote for book">
                   <a href="#headerRoute"><md-icon md-svg-src="/data/icons/bookVote.svg"></md-icon></a>
                </md-button>


                <md-button flex="50" class="md-raised" aria-label="Vote for Location">
                <a href="#footerRoute"><md-icon md-svg-src="/data/icons/locationVote.svg"></md-icon></a>
                </md-button>
    </div>
</div>



<!--<ul class="nav nav-pills nav-justified">-->