.container{

    display:inline-block;
}
.headBlock{

    display: inline-block;
    background: #f5f5f5
}

.footerBlock{

    display: inline-block;
    text-align:center;
}


.myApp md-fab-toolbar.md-right md-fab-trigger.align-with-button {
    left: 7px;
    display:block;
}

.toast1 {
    margin-left: auto;
    margin-right: auto;
    background-color:black;
}

#closeToastBut{
     background-color: darkred;
 }

#castVoteBut{
    background-color:darkgreen;
}

.selected{
    background-color: rgba(26, 168, 36, 0.99);
}

/*.md-subhead{*/
    /*display: block;*/
/*}*/