<!DOCTYPE html>
<html>
<head>
    <title>Express / Passport</title>

    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <!--<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>-->
    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</head>

<body>

<!--<div><img src="/data/images/bookandcoffee.jpg">-->






    <div class="loginback">

    <form class="form-signin" action="/" method="post">
        <h1 class="form-signin-heading">Book Club</h1>
        <div>

            <input class="form-control" type="text" name="username" id="username" placeholder="Username"/>
        </div>
        <div>

            <input class="form-control" type="password" name="password" id="password" placeholder="Password"/>


        </div>
        <div>

        </div>
        <div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log In"/>
            <a href="/assets/views/register.html">Register</a>
        </div>
    </form>
    </div>


</body>
</html>







<!--<!DOCTYPE html>-->
<!--<html lang="en" ng-app="myApp">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->

    <!--&lt;!&ndash;STYLES&ndash;&gt;-->
    <!--<link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/vendors/bootstrap/bootstrap.css.map">-->
    <!--<link rel="stylesheet" href="/vendors/angular-material.min.css">-->
    <!--<link rel="stylesheet" href="/assets/styles/style.css">-->

<!--</head>-->
<!--<body>-->

        <!--<header ng-include="'/assets/views/templates/header.html'"></header>-->
        <!--<header ng-include="'/assets/views/templates/nav.html'"></header>-->

        <!--<main ng-view></main>-->

        <!--<header ng-include="'/assets/views/templates/footer.html'"></header>-->


    <!--&lt;!&ndash;SCRIPTS&ndash;&gt;-->
    <!--<script type="text/javascript" src="/vendors/angular/angular.min.js"></script>-->
    <!--<script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>-->

    <!--<script type="text/javascript" src="/vendors/angular-animate.min.js"></script>-->
    <!--<script type="text/javascript" src="/vendors/angular-aria.min.js"></script>-->
    <!--<script type="text/javascript" src="/vendors/angular-material.min.js"></script>-->

    <!--<script type="text/javascript" src="/assets/scripts/app.min.js"></script>-->
    <!--<script type="text/javascript" src="/assets/scripts/factories/data.min.js"></script>-->
    <!--<script type="text/javascript" src="/assets/scripts/controllers/controller.min.js"></script>-->

<!--</body>-->
<!--</html>-->