<div class="container">
<div class="text-center">
    <p>Vote for A book</p>
</div>

    <!--ng-repeat="member in bookclub track by $index-->
    <!--ng-class="{selected: $index==selectedIndex}"-->
    <div layout="column">
        <md-card ng-model="member"  ng-repeat="member in users track by $index" ng-class="{selected: $index==selectedIndex}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">User Name:  {{member.username}}<br></span>
                    <span class="md-subhead">Book title:  {{member.prefBook[0].title}}<br></span>
                    <span class="md-subhead">Book Author:  {{member.prefBook[0].author}}<br></span>
                    <span class="md-subhead">Book Summary:  {{member.prefBook[0].summary}}<br></span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions>

                <div layout-fill layout="column"  class="inset" >
                    <md-button   ng-click="showActionToast(member.prefBook,$index)" >Vote</md-button>
                    <div id="toastBounds">
                    </div>
                </div>



            </md-card-actions>
        </md-card>
        <md-card>


<!--<div ng-repeat="person in bookclub">-->
    <!--<div class="row">-->
        <!--<p ng-repeat="member in person.bookclub_members">{{member.member_name}}</p>-->


    <!--</div>-->
</div>
</div>

<!--for the md-card-action(it was there previously) =layout="row" layout-align="end center"-->